{% extends "layout/template.html" %}

{% load utilities %}

{% block head %}
	<script>
		$(document).ready(function(){
			$(".nav > li").removeClass("active");
			$("#session-part").addClass("active");
// 			$("[name*=price]").mask("99,99");
			$("[name*=quantity]").mask("999999");
			$('#btn_cancel').on('click',function(){
				location.href = "{% url 'part.list' %}";
			});
			
// 			$("[name*=price]").on("keypress", function(){
				
// 				if($(this).val().length == 5){
// 					var value = $(this).val().replace('.','')
// 					var value = $(this).val().replace(',','')
// 					$(this).mask("999,00");
// 					$(this).val(value);
// 				}
				
// 				if($(this).val().length == 6){					
					
// 					var value = $(this).val().replace('.','')
// 					var value = $(this).val().replace(',','')
// 					$(this).mask("999.999,00");
// 					$(this).val(value);
// 				}
// 			});
		});
	</script>
{% endblock %}

{% block navigate %}
	<li><a href="#">Peça</a> <span class="divider">/</span></li>
	<li class="active">Cadastro</li>
{% endblock %}

{% block content %}
	
    <div class="row-fluid">
		<form method="post" action="{{ action }}">
			{% csrf_token %}
			<div class="span9">
				<div class="control-group{% if form.description.errors %} error{% endif %}" id="{{ form.description.auto_id }}">
					<label class="control-label">{{ form.description.label_tag }}</label>		
					{{ form.description}}
					<span class="help-inline">
					{% if form.description.errors %} 
						{% for error in form.description.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="span9">
				<div class="control-group{% if form.price.errors %} error{% endif %}" id="{{ form.price.auto_id }}">
					<label class="control-label">{{ form.price.label_tag }}</label>							
	                {{ form.price }}
					<span class="help-inline">
					{% if form.price.errors %} 
						{% for error in form.price.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="span7">
				<div class="control-group{% if form.quantity.errors %} error{% endif %}" id="{{ form.quantity.auto_id }}">
					<label class="control-label">{{ form.quantity.label_tag }}</label>		
					{{ form.quantity }}
					<span class="help-inline">
					{% if form.quantity.errors %} 
						{% for error in form.quantity.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="span9 top1">
			    <div class="btn-group pull-left form-group">
					<button id="btn_new" type="submit" class="btn btn-primary">Gravar</button>
					<button id="btn_cancel" type="button" class="btn">Cancelar</button>
				</div>
			</div>
		</form>
    </div>
{% endblock %}