{% extends "layout/template.html" %}

{% load staticfiles %}

{% block head %}
	<script>
	$(document).ready(function() {
		
		$(".nav > li").removeClass("active");
		$("#session-account-receive").addClass("active");
		
		$('#btn_new').on('click', function() {
		
		});

		oTable = $("#account-datatable").dataTable({

			"sPaginationType" : "bootstrap",
			"aaSorting" : [ [ 1, "asc" ] ],
			"aoColumnDefs" : [ {
				"bSortable" : false,
				"aTargets" : [ 0, 3 ]
			} ],
			"oLanguage" : lang_datatable
		});

		bindDataTableCheckAll();

		$('#btn_del').on('click', function() {

			if (confirm('Deseja realmente remover os itens selecionados ?')) {
				bindIdsToRemove();
				$('#delete_form').submit();
			}
		});
	});
	</script>
{% endblock %}

{% block navigate %}
	<li><a href="#">Contas</a> <span class="divider">/</span></li>
	<li class="active">À Receber</li>
{% endblock %}

{% block content %}
<div class="row-fluid">

	    <div class="row-fluid top1">
			<table id="account-datatable" class="table table-striped table-bordered table-hover table-condensed">
			
				<col width="2%" />
				<col width="15%" />
				<col width="50%" />
				<col width="10%" />
				<col width="2%" />		
				<thead>
					<tr>
						<th><input id="checkAll" type="checkbox" /></th>					
						<th>Data</th>
						<th>Cliente</th>																				
						<th>Total</th>			
						<th></th>					
					</tr>
				</thead>
				<tbody>
				{% for account in accounts %}
					<tr>
						<td><input id="id" type="checkbox"  value="{{ part.id}}"/></td>					
						<td>{{ account.created }}</td>
						<td>{{ account.client }}</td>
						<td>{{ account.total }}</td>
						<td>
							<a id="edit" title="Pagar" href="{% url 'payment' account.id %}"><i class="fa fa-money fa-2x"></i></a>							
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<form id="delete_form" method="post" action="{{ action }}" class="hide">
				{% csrf_token %}
			</form>
	    </div>
    </div>
{% endblock %}