.navbar-static-top {
	margin-bottom: 20px;
}

i {
	font-size: 16px;
}

.nav>li>a {
	color: #787878;
}

/* count indicator near icons */
.nav>li .count {
	position: absolute;
	bottom: 12px;
	right: 6px;
	font-size: 10px;
	font-weight: normal;
	background: rgba(51, 200, 51, 0.55);
	color: rgba(255, 255, 255, 0.9);
	line-height: 1em;
	padding: 2px 4px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

/* indent 2nd level */
.list-unstyled li>ul>li {
	margin-left: 10px;
	padding: 8px;
}

.top1 {
	margin-top: 1%;
}

.top3 {
	margin-top: 3%;
}

.top5 {
	margin-top: 5%;
}

.top7 {
	margin-top: 7%;
}

.top10 {
	margin-top: 10%;
}

.top15 {
	margin-top: 15%;
}

.top17 {
	margin-top: 17%;
}

.top30 {
	margin-top: 30%;
}

.pointer {
	cursor: pointer;
}

.hide {
	visibility: hidden;
}