{% extends "layout/template.html" %}

{% block head %}
	<script>
		$(document).ready(function(){
			$('#date-birth').datepicker();
			$("[name*=cpf]").mask("999.999.999-99");
			$('#btn_cancel').on('click',function(){
				location.href = "{% url 'client.list' %}";
			});
		});
	</script>
{% endblock %}

{% block content %}
	<div class="page-header">
    	<h1>Cliente - Cadastro</h1>
    </div>
    <div class="row col-sm-8">
		<form method="post" action="{% url 'client.add' %}">
			{% csrf_token %}
			<div class="col-sm-9">
				<div class="form-group{% if form.name.errors %} error{% endif %}" id="{{ form.name.auto_id }}">
					<label class="control-label">{{ form.name.label_tag }}</label>		
					{{ form.name }}
					<span class="help-inline">
					{% if form.name.errors %} 
						{% for error in form.name.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group{% if form.date_of_birth.errors %} error{% endif %}" id="{{ form.date_of_birth.auto_id }}">
					<label class="control-label">{{ form.date_of_birth.label_tag }}</label>		
					<div class="input-group date" id="date-birth" data-date="" data-date-format="dd/mm/yyyy">
	                    {{ form.date_of_birth }}
	                    <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span>
	                    </span>
	                </div>
					<span class="help-inline">
					{% if form.date_of_birth.errors %} 
						{% for error in form.date_of_birth.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="col-sm-7">
				<div class="form-group{% if form.nickname.errors %} error{% endif %}" id="{{ form.nickname.auto_id }}">
					<label class="control-label">{{ form.nickname.label_tag }}</label>		
					{{ form.nickname }}
					<span class="help-inline">
					{% if form.nickname.errors %} 
						{% for error in form.nickname.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="form-group{% if form.cpf.errors %} error{% endif %}" id="{{ form.cpf.auto_id }}">
					<label class="control-label">{{ form.cpf.label_tag }}</label>		
					{{ form.cpf }}
					<span class="help-inline">
					{% if form.cpf.errors %} 
						{% for error in form.cpf.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="form-group{% if form.address.errors %} error{% endif %}" id="{{ form.address.auto_id }}">
					<label class="control-label">{{ form.address.label_tag }}</label>		
					{{ form.address }}
					<span class="help-inline">
					{% if form.address.errors %} 
						{% for error in form.address.errors %}
							{{ error|escape }}</br>
						{% endfor %}
					{% endif %}
					</span>
				</div>
			</div>
			<div class="col-sm-12 top30">
			    <div class="btn-group pull-left form-group">
					<button id="btn_new" type="submit" class="btn btn-primary">Gravar</button>
					<button id="btn_cancel" type="button" class="btn">Cancelar</button>
				</div>
			</div>
		</form>
    </div>
{% endblock %}